table, tr, td {
    border: 2px solid black;
    border-collapse: collapse;
    width: 25%;
    height: 125px;
    text-align: center;
}

.amarillo {
    background-color: yellow;
}

.azul {
    background-color: blue;
}

.rojo {
    background-color: red;
}